{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Listes - WH40K</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Liste des Armées crées</h1>
{% endblock %}
{% block body %}
    <div class="carte_container">
        {% for army in armies %}
            <div class="liste">
                <a href="{{ path("listeInspection", {"id": army.id}) }}">
                    <h2>{{army.name}}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}